.cards > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
}

.cards.icon-with-text > ul {
    grid-gap: 20px;
}

.cards > ul > li {
    padding: 28px;
}

.cards.teaser > ul > li {
    padding-left: 0;
    padding-right: 0;
}

.cards.icon-with-text .cards-card-body {
    width: calc(100% - 75px);
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
    flex-grow: 1;
}

/* cards side-by-side */
.cards.side-by-side > ul > li > .cards-card-body {
    padding-left: 20px;
    padding-right: 40px;
    position: absolute;
    top: 5px;
    color: white;
    width: 85%;
}

.cards.teaser.background > ul > li .cards-card-body {
    padding: 5px 15px;
}

/* cards side-by-side */
.cards.side-by-side > ul > li img {
    height: 380px;
    filter: brightness(45%);
    object-position: 40%;
    object-fit: cover;
    display: block;
}

.cards.side-by-side > ul > li:not(li:last-child) img {
    object-position: 10%;
    object-fit: cover;
}

.cards.teaser.background > ul > li .cards-card-body img {
    width: 100%;
}

.cards.side-by-side > ul > li a.button:any-link {
  color: white;
}

.cards.side-by-side > ul > li a.button:any-link:hover {
  text-decoration: underline;
  background: none;
}

/* cards side-by-side */
.cards.side-by-side .cards-card-body h2,
.cards.side-by-side .cards-card-body h3,
.cards.side-by-side .cards-card-body h4,
.cards.side-by-side .cards-card-body h5 {
    color: var(--c-white);
}

.cards.side-by-side .cards-card-body h3 {
    font-size: 30px;
    margin-top: 130px;
}

.cards.teaser > ul > li .cards-card-body h3 {
    color: white;
    font-size: 30px;
    margin-top: 10px;
    font-weight: 300;
}

.cards.teaser > ul > li .cards-card-body p em {
    font-size: 15px;
    color: white;
    font-style: normal;
}

.cards.teaser > ul > li .cards-card-body p:last-child {
    line-height: 1;
}

.cards.teaser.background > ul > li > div:first-child {
    background-color: rgb(46 48 142);
}

.cards.teaser.background > ul > li > div:nth-last-child(2) {
    background-color: rgb(133 160 249);
}

.cards.teaser.background > ul > li > div:last-child {
    background-color: rgb(47 120 196);
}

.cards.teaser.icons > ul > li > div:first-child {
    background-color: #2e308e;
}

.cards.teaser.icons > ul > li > div:nth-last-child(2) {
    background-color: #92bbe6;
}

.cards.teaser.icons > ul > li > div:last-child {
    background-color: #6aa2dc;
}

.cards.teaser.icons > ul > li .cards-card-body p:last-child {
    margin: 0;
    padding-bottom: 10px;
}

.cards.teaser.icons > ul > li .cards-card-body img {
    width: 99.9%;
    padding-top: 20px;
}

.cards.teaser.icons > ul > li .cards-card-body p:first-child {
    margin-top: 0;
}

/* cards side-by-side */
.cards.side-by-side > ul > li {
    margin: 0;
    padding: 0;
    position: relative;
    list-style: none;
}

.cards.icon-with-text > ul > li {
    display: flex;
    gap: 28px;
    align-items: center;
}

.cards.side-by-side > ul > li:hover {
    cursor: pointer;
}

.cards.side-by-side > ul > li:nth-last-child(2) > .cards-card-body {
    padding-left: 20px;
    padding-right: 40px;
}

.cards.side-by-side .cards-card-body h2 a,
.cards.side-by-side .cards-card-body h3 a,
.cards.side-by-side .cards-card-body h4 a,
.cards.side-by-side .cards-card-body h5 a {
    color: var(--c-white);
}

.cards.side-by-side .cards-card-body h3 a {
    font-weight: 600;
}

.cards.side-by-side .cards-card-body h5 a:hover,
.cards.side-by-side .cards-card-body h4 a:hover,
.cards.side-by-side .cards-card-body h3 a:hover{
    text-decoration: none;
}

.cards.side-by-side .cards-card-body h2 {
    font-size: 30px;
    margin-top: 100px;
    font-weight: 600;
}

.cards.side-by-side .cards-card-body h4 {
    font-size: 18px;
    margin-top: 0;
}

.cards.side-by-side .cards-card-body h5 {
    font-size: 13px;
    margin-top: 10px;
}

@media (min-width: 600px) {
    .cards.teaser.background > ul > li > div:nth-last-child(2) {
        float: left;
        width: 44%;
        overflow: hidden;
        margin-top: 20px;
    }

    .cards.teaser.background > ul > li > div:last-child {
        float: right;
        width: 44%;
        overflow: hidden;
        margin-top: 20px;
    }

    /* cards side-by-side */
    .cards.side-by-side > ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .cards.side-by-side > ul > li {
        margin: 0;
        padding: 0;
        position: relative;
        list-style: none;
        flex: 0 0 50%;
    }

    .cards.side-by-side > ul > li:last-child {
        margin: 0;
        padding: 0;
        position: relative;
        list-style: none;
        flex: 0 0 100%;
    }

    .cards.side-by-side > ul > li:last-child img {
        height: 500px;
        filter: brightness(45%);
        object-position: 45% 10%;
        background-size: 70%;
    }

    .cards.side-by-side > ul > li:not(li:last-child) img {
        height: 500px;
        filter: brightness(45%);
        object-position: 40%;
        object-fit: cover;
    }

    .cards.side-by-side > ul > li:hover {
        cursor: pointer;
    }

    .cards.side-by-side > ul > li > .cards-card-body {
        width: 260px;
    }

    .cards.side-by-side > ul > li:nth-last-child(2) > .cards-card-body {
        padding-left: 20px;
        padding-right: 40px;
    }

    .cards.side-by-side > ul > li:last-child > .cards-card-body {
        width: 80%;
    }

    .cards.side-by-side .cards-card-body h3 {
        font-size: 32px;
        margin-top: 180px;
    }
}

@media (min-width: 750px) {
    .cards.icon-with-text > ul {
      grid-template-columns: 1fr 1fr;
    }

    .cards.teaser.background > ul > li > div:nth-last-child(2) {
        width: 45%;
    }

    .cards.teaser.background > ul > li > div:last-child {
        width: 45%;
    }

    /* cards side-by-side */
    .cards.side-by-side > ul > li > .cards-card-body {
        width: 320px;
    }
}

@media (min-width: 992px) {
    .cards.teaser > ul > li {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(3, 1fr);
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .cards.teaser > ul > li .cards-card-body {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 10px;
    }

    .cards.teaser.background > ul > li > div:nth-last-child(2) {
        float: none;
        width: auto;
        margin-top: 0;
    }

    .cards.teaser.background > ul > li > div:last-child {
        float: none;
        width: auto;
        margin-top: 0;
    }

    /* cards side-by-side */
    .cards.side-by-side {
        margin: 40px 0;
    }

    .cards.side-by-side > ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .cards.side-by-side > ul > li {
        margin: 0;
        padding: 0;
        position: relative;
        list-style: none;
        flex: 1;
        transition: 1s;
    }

    .cards.side-by-side > ul > li:last-child {
        flex: 1;
        transition: 1s;
    }

    .cards.side-by-side > ul > li img {
        height: 450px;
        filter: brightness(40%);
    }

    .cards.side-by-side > ul > li:hover > *:not(.cards-card-body) {
        filter: brightness(140%);
    }

    .cards.side-by-side > ul > li:hover {
        cursor: pointer;
        flex: 1.2;
    }

    .cards.side-by-side > ul > li > .cards-card-body {
        width: 280px;
    }

    .cards.side-by-side > ul > li:last-child > .cards-card-body {
        width: 280px;
    }
}

/* cards side-by-side */
@media (min-width: 1000px) {
    .cards.side-by-side > ul > li > .cards-card-body {
        width: 250px;
    }
}

@media (min-width: 1200px) {
    .cards.side-by-side > ul > li > .cards-card-body {
        width: 300px;
    }

    .cards.side-by-side > ul > li:last-child > .cards-card-body {
        width: 300px;
    }
}

/* .icon-with-text */

.cards.icon-with-text .cards-card-image {
    line-height: 0;
    width: 40px;
}

.cards.icon-with-text .cards-card-body * {
    margin: 0;
    padding: 0;
}

.cards.icon-with-text .cards-card-body > *:first-child {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
}

.cards.icon-with-text .cards-card-body > h4 {
    color: var(--c-dark-plum);
}
/* section highlights */

.section.light-plum .cards > ul > li {
    background-color: var(--bg-text-light-plum);
    color: var(--c-dark-plum);
}

.section.light-blue .cards > ul > li {
    background-color: var(--bg-text-light-plum);
    color: var(--c-dark-blue);
}

.section.dark-plum .cards > ul > li {
  background-color: var(--bg-text-light-plum);
  color: var(--c-dark-plum);
}
