.accordion-item {
    padding: 0 16px;
    margin-bottom: 20px;
}

.accordion-trigger {
    display: flex;
    align-items: center;
    cursor: pointer;
    line-height: 40px;
    font-size: 34px;
    height: 80px;
    color: var(--c-white);
    font-weight: 700;
}

.multicolor-accordion>div:nth-child(odd) { 
  background: var(--c-dark-plum);
}

.multicolor-accordion>div:nth-child(even) { 
    background: var(--c-dark-blue);
  }

.accordion-trigger .details-button {
    background: var(--c-light-teal);
    color: var(--c-dark-plum);
    border-radius: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 0;
    cursor: pointer;
    width: 9%;
    font-size: 15px;
    border: 1px solid var(--c-light-teal);
    transition: 0.5s;
  }

.accordion-trigger .details-button:hover {
    border: 1px solid var(--c-light-teal);
    background: none;
    color: var(--c-light-teal);
  }

  .accordion-trigger .close-button {
    border: 1px solid var(--c-light-teal);
    background: none;
    color: var(--c-light-teal);
    border-radius: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 8px 0;
    cursor: pointer;
    width: 9%;
    font-size: 15px;
  }

.accordion-trigger > p {
    display: inline-flex;
    width: calc(100% - 40px);
}

.accordion-content {
    transition: max-height .3333s;
    max-height: 0;
    overflow: hidden;
    color: var(--c-white);
}

[aria-expanded] .accordion-content {
    max-height: 1000px;
}