main .form input,
main .form textarea,
main .form select {
  border: 1px solid rgba(0 0 0 / 10%);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size-s);
  padding: 11px;
  border-radius: 3px;
  width: 100%;
  max-width: 50rem;
  box-sizing: border-box;
  margin-top: 4px;
}

main .form textarea {
  min-height: 46px;
}

main .form input:hover,
main .form textarea:hover,
main .form select:hover {
  border-color: #d1c4e9;
}

main .form label {
  width: 100%;
  font-size: var(--body-font-size-xs);
  display: block;
}

main .form label.required::after {
  content: '*';
  color: red;
  padding-left: 5px;
}

main .form .field-wrapper {
  margin-bottom: 20px;
}

main .form .form-checkbox-wrapper {
  display: flex;
}

main .form .form-checkbox-wrapper input[type='checkbox'] {
  position: absolute;
  opacity: 0;
  width: unset;
  margin-top: 11px;
  margin-left: 6px;
}

main .form .form-checkbox-wrapper input[type='checkbox'] + label::before {
  float: left;
  margin-top: 6px;
  margin-right: 5px;
  height: 24px;
  width: 24px;
  content: ' ';
  background: url('/icons/checkbox.svg');
  background-size: contain;
}

main
  .form
  .form-checkbox-wrapper
  input[type='checkbox']:checked
  + label::before {
  width: 20px;
  height: 20px;
  background: url('/icons/checkbox-checked.svg') center center no-repeat;
  background-size: 60%;
  background-color: #2e308e;
  border-radius: 3px;
  content: ' ';
  margin: 8px 7px 0 2px;
}

main .form .form-checkbox-wrapper label {
  line-height: 2.5;
  font-weight: normal;
  text-transform: none;
  display: block;
  user-select: none;
}

main .form .button {
  cursor: pointer;
  background: var(--c-dark-plum);
  border-color: var(--c-dark-plum);
  color: white;
  border-radius: 16px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 8px 35px;
  border: none;
}

main .form .form-submit-wrapper {
  display: flex;
  justify-content: center;
}

main .form .mktoForm,
main .form .mktoForm .mktoCheckboxList,
main .form .mktoForm .mktoField,
main .form .mktoForm .mktoFieldWrap,
main .form .mktoForm .mktoFormCol,
main .form .mktoForm .mktoHtmlText,
main .form .mktoForm .mktoLabel,
main .form .mktoForm .mktoRadioList,
main .form .mktoForm .mktoRangeField,
main .form .mktoForm .mktoSliderWrap {
  width: 100% !important;
}
.mktoForm,
main .form .mktoForm .mktoButton,
main .form .mktoForm .mktoCheckboxList,
main .form .mktoForm .mktoField,
main .form .mktoForm .mktoFieldWrap,
main .form .mktoForm .mktoFormCol,
main .form .mktoForm .mktoHtmlText,
main .form .mktoForm .mktoLabel,
main .form .mktoForm label,
main .form .mktoForm .mktoRadioList,
main .form .mktoForm .mktoRangeField {
  font-family: Gellix, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #404040;
  -webkit-font-smoothing: antialiased;
}
main .form .mktoForm a {
  color: #2e308e;
}
.mktoForm,
main .form .mktoForm * {
  box-sizing: border-box;
}
main .form .mktoForm .mktoGutter,
main .form .mktoForm .mktoLabel:empty,
main .form .mktoForm .mktoOffset {
  display: none;
}
main .form .mktoForm .mktoFieldDescriptor,
main .form .mktoForm .mktoHtmlText {
  margin-bottom: 20px;
}
@media (min-width: 600px) {
  main .form .mktoForm .mktoHtmlText {
    font-size: 18px;
  }
  main .form .mktoForm .mktoFormRow {
    display: flex;
    margin-left: -20px;
  }
  main .form .mktoForm .mktoFormCol.mktoFormCol {
    min-width: 0;
    padding-left: 20px;
  }
}
main .form .mktoForm .mktoFormCol[data-hidden='true'] {
  position: absolute;
  overflow: hidden;
  top: -9999px !important;
  left: -9999px !important;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
main .form .mktoForm .mktoCheckboxList input,
main .form .mktoForm .mktoRadioList input {
  position: absolute;
  left: -9999px;
  display: inline-block;
  width: auto !important;
}
main .form .mktoForm .mktoCheckboxList label,
main .form .mktoForm .mktoRadioList label {
  position: relative;
  display: block;
  padding: 0 0 5px 40px;
}
main .form .mktoForm .mktoCheckboxList label::before,
main .form .mktoForm .mktoRadioList label::before {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  content: '';
}
main .form .mktoForm .mktoCheckboxList label:focus::before,
main .form .mktoForm .mktoCheckboxList label:hover::before,
main .form .mktoForm .mktoRadioList label:focus::before,
main .form .mktoForm .mktoRadioList label:hover::before {
  border-color: #d1c4e9;
}
main .form .mktoForm .mktoRadioList label::before {
  border-radius: 50%;
}
main .form .mktoForm .mktoCheckboxList input:checked + label::before,
main .form .mktoForm .mktoRadioList input:checked + label::before {
  background-color: #2e308e;
  border-color: #2e308e;
}
main .form .mktoForm .mktoCheckboxList input:checked + label::before {
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="-6527.959 872.109 12.577 12.688"%3E%3Cpath fill="none" stroke="%23fff" stroke-width="2px" d="M-6527.166,877.783l3.155,4.117,7.828-10.433" transform="translate%280 1.243%29"/%3E%3C/svg%3E%0A');
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: center;
}
main .form .mktoForm .mktoField {
  padding: 10px 16px;
  color: #404040;
  background: 0 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.mktoForm[data-form-id='172'] .mktoField,
.mktoForm[data-form-id='173'] .mktoField {
  background: #f6f7fc;
  border: 1px solid #f6f7fc;
}
main .form .mktoForm .mktoField:focus,
main .form .mktoForm .mktoField:hover {
  border-color: #d1c4e9;
  outline: 0;
}
main .form .mktoForm textarea.mktoField {
  min-height: 46px;
  resize: vertical;
}
main .form .mktoForm select.mktoField {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkViZW5lXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMzAxLjkgMTYxLjYiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDMwMS45IDE2MS42OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSIyNDUuMiw3LjkgMTQ5LjYsMTA1LjUgNTUuMiw5LjEgMzIuNSwzMS45IDE1MC45LDE1Mi43IDE1MS4xLDE1Mi45IDI2OS41LDMyLjEgIi8+PC9zdmc+');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right 10px center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
main .form .mktoForm select.mktoField::-ms-expand {
  display: none;
}
main .form .mktoForm .mktoField:-webkit-autofill,
main .form .mktoForm .mktoField:-webkit-autofill:active,
main .form .mktoForm .mktoField:-webkit-autofill:focus,
main .form .mktoForm .mktoField:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  box-shadow: 0 0 0 30px #fff inset;
}
main .form .mktoForm .mktoButtonRow {
  text-align: center;
}
main .form .mktoForm .mktoButtonRowMultiStepPrev,
.mktoForm[data-form-id='172'] .mktoButtonRow,
.mktoForm[data-form-id='173'] .mktoButtonRow {
  text-align: left;
}
main .form .mktoForm .mktoButton {
  display: inline-block;
  width: 100%;
  margin-top: 30px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 35px;
  vertical-align: middle;
  cursor: pointer;
  background-color: #2e308e;
  border: 1px solid #2e308e;
  border-radius: 30px;
}
main .form .mktoForm .mktoButton:focus,
main .form .mktoForm .mktoButton:hover {
  color: #2e308e;
  background-color: transparent;
  outline: 0;
}
@media (min-width: 770px) {
  main .form .mktoForm .mktoButton {
    width: auto;
  }
}
main .form .mktoForm .mktoButtonRow,
main .form .mktoForm .mktoFieldWrap {
  position: relative;
}
main .form .mktoForm .mktoError {
  position: absolute;
  top: calc(100% + 15px) !important;
  right: auto;
  bottom: auto;
  left: 0 !important;
  z-index: 10;
  width: auto;
  float: left;
}
main .form .mktoForm .mktoErrorMsg {
  float: left;
  min-width: 150px;
  max-width: 300px;
  padding: 10px;
  color: #fff;
  background-color: #db204c;
  border-radius: 3px;
}
main .form .mktoForm .mktoErrorArrowWrap {
  position: absolute;
  top: -8px;
  left: 10px;
}
main .form .mktoForm .mktoErrorArrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: transparent transparent #db204c;
}
main .form .mktoForm .mktoIsHidden {
  display: none !important;
}
main .form .mktoForm fieldset.mktoFormCol {
  padding: 0;
  margin: 0;
  border: 0;
}
main .form .mktoForm legend {
  margin-bottom: 30px;
  font-family: Gellix, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  text-align: left;
  color: #2e308e;
}
main .form .mktoForm .mktoButtonMultiStepPrev {
  position: relative;
  padding-left: 20px;
  margin-bottom: 8px;
  color: #2e308e;
  background: 0 0;
  border: 0;
  cursor: pointer;
  outline: 0;
}
main .form .mktoForm .mktoButtonMultiStepPrev::after,
main .form .mktoForm .mktoButtonMultiStepPrev::before {
  position: absolute;
  top: 50%;
  left: 2px;
  width: 8px;
  height: 2px;
  background-color: #2e308e;
  transform: translateY(-100%) rotate(-45deg);
  transform-origin: left center;
  content: '';
}
main .form .mktoForm .mktoButtonMultiStepPrev::after {
  transform: translateY(-100%) rotate(45deg);
}
main .form .mktoForm .mktoButton:disabled {
  opacity: 0.4;
  cursor: default;
}
main .form .mktoForm .mktoRequiredField .mktoAsterix {
  display: block;
  float: right;
  padding-left: 7px;
}
