.gdpr-encrypt form input {
  max-width: 100%;
}

.gdpr-encrypt form label {
  font-size: var(--body-font-size-s);
}

.gdpr-encrypt form .form-submission-result p {
  display: none;
  border-radius: 1rem;
  padding: 1rem;
}

.gdpr-encrypt form .form-submission-result p.show {
  display: inherit;
}
  
.gdpr-encrypt form .form-submission-result .form-submission-error {
  background-color: var(--c-red);
}

.gdpr-encrypt form .form-submission-result .form-submission-success {
  background-color: var(--c-light-gray);
}

/* GDPR confirmation */
.gdpr-confirmation form .confirm-label {
  font-size: var(--body-font-size-m);
  display: inline;
  margin-left: 10px;
}

.gdpr-confirmation form .confirmation-checkbox {
  width: auto;
  display: inline;
}

.gdpr-confirmation form .confirm-btn {
  display: block;
}

.gdpr-confirmation .error {
  width: 100%;
  height: auto;
  background: #d3d3d3;
  color: #000;
  padding: 10px;
  margin-top: 20px;
}

.gdpr-confirmation .close-error {
   float: right;
   font-size: 22px;
   margin-top: -7px;
   cursor: pointer;
}

@media (min-width: 600px) {
  .gdpr form {
    padding-inline: 5rem;
  }
}

@media (min-width: 900px) {
  .gdpr form {
    padding-inline: 10rem;
    width: var(--section-width);
  }
}

@media (min-width: 1200px) {
  .gdpr form {
    padding-inline: 15rem;
  }
}