.related-blogs-container {
    padding: 40px 0;
    background-color: #2e308e;
}

.related-blogs-container h4 {
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    color: #97f5f7;
    margin-bottom: 25px;
}

.related-list-item {
    background-color: #fff;
    width: 30%;
    padding: 10px 20px;
    margin-right: 2%;
    border: 0;
}

ul.related-list {
    list-style: none;
    padding-left: 0;
}

.related-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
    margin-bottom: 25px;
}

.related-list-item:last-child {
    margin-right: 0;
}

.teaser-link {
    margin-bottom: 75px;
    border: magenta 1px solid;
}

a.teaser-link {
    text-decoration: none;
}

div.teaser {
    display: flex;
    height: 100%;
    flex-direction: column;
}

h2.teaser-description {
    font-size: 22px;
    color: #2e308e;
    font-weight: 400;
    line-height: 1.25em;
    border: orangered 1px solid;
}

.authorprofile-container {
    padding-bottom: 35px;
}

.authorprofile-info {
    display: inline-flex;
    line-height: 1.4em;
    flex-flow: column wrap;
    vertical-align: top;
}

.authorprofile-name {
    font-size: 14px;
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 1.4em;
}

.authorprofile-position {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 1.4em;
}

.authorprofile-image {
    width: 35px;
    height: 35px;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}

img.nc-image {
    border-radius: 50%;
    overflow: hidden;
}

div.nc-image-container {
    max-width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

div.related-button-row {
    text-align: center;
    color: #2e308e;
}

i.icon-wrapper {
    height: 1em;
    width: 1em;
    display: inline-block;
}

.icon-wrapper svg {
    pointer-events: none;
    height: 100%;
    width: 100%;
    will-change: transform;
    transition: transform .3333s cubic-bezier(0.66,-0.1,0.74,0.73);
}

.btn {
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: 3em;
    padding: 0 24px;
    line-height: 36px;
    border-radius: 36px;
    cursor: pointer;
    background-color: #97f5f7;
    border: thin solid #97f5f7;
}
