.columns {
    --column-fb-left: 50%;
    --column-fb-other: 0%;
    --column-fb-right: 50%;
}

.columns > div {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.columns > div > div {
    flex: 1 1 var(--column-fb-other);
    margin: 16px 0;
}

.columns:is(.rainbow, .rainbow-reverse) > div {
    gap: 32px;
    margin: 32px 0;
}

.columns.reverse-on-mobile > div {
    flex-direction: column-reverse;
}

.columns:is(.rainbow, .rainbow-reverse) > div > div {
    margin: 0;
    color: var(--c-white);
    padding: 16px;
}

.columns:is(.rainbow, .rainbow-reverse) > div > div * {
    color: var(--c-white);
}

.columns > div > div:first-of-type {
    flex: 1 1 var(--column-fb-left);
}

.columns > div > div:last-of-type {
    flex: 1 1 var(--column-fb-right);
}

.columns > div > div > *:first-child {
    margin-top: 0;
}

/* 3 columns */
.columns.columns-3-cols {
    --column-fb-left: 33%;
    --column-fb-other: 33%;
    --column-fb-right: 33%;
}

/* columns with background color */

.columns.background-dark-plum {
  background-color: var(--c-dark-plum);
}

.columns.background-light-plum {
  background-color: var(--c-light-plum);
}

.columns.background-dark-blue {
  background-color: var(--c-dark-blue);
}

.columns.background-light-gray {
  background-color: var(--c-light-gray);
}

.columns.background-dark-gray {
  background-color: var(--c-dark-gray);
}

.columns:is(
    .background-light-plum,
    .background-dark-plum,
    .background-dark-blue,
    .background-light-gray,
    .background-dark-gray
) {
  padding: 0 16px;
}

.columns:is(
    .background-light-plum,
    .background-dark-plum,
    .background-dark-blue,
    .background-light-gray,
    .background-dark-gray
) > div > div {
  background-color: white;
}

.columns:is(
    .background-light-plum,
    .background-dark-plum,
    .background-dark-blue,
    .background-light-gray,
    .background-dark-gray
) > div > div > * {
  margin: 16px 0;
}

/* borders */

.columns.border-top-left > div > div:first-of-type {
    border-top: 2px solid rgba(0 0 0 / 10%);
}

.columns.border-top-right > div > div:last-of-type {
    /* distance to border is 32px, above by 2 * 16px margin, belown by padding-top 32px */
    border-top: 2px solid rgba(0 0 0 / 10%);
}

.columns.border-top-right > div > div:last-of-type > *:first-child,
.columns.border-top-left > div > div:first-of-type > *:first-child {
    margin-top: 32px;
}

/* heading style */

.columns.heading-white > div > div > :where(h1,h2,h3,h4,h5,h6):first-of-type {
  color: var(--c-white);
}

.columns.heading-dark-blue > div > div > :where(h1,h2,h3,h4,h5,h6):first-of-type {
    color: var(--c-dark-blue);
}

.columns.heading-dark-teal > div > div > :where(h1,h2,h3,h4,h5,h6):first-of-type {
  color: var(--c-dark-teal);
}

.columns.heading-dark-plum > div > div > :where(h1,h2,h3,h4,h5,h6):first-of-type {
    color: var(--c-dark-plum);
}

/* Rainbow:  darker-plum, dark-plum, dark-blue  */
.columns.rainbow > div > div:nth-of-type(3n),
.columns.rainbow-reverse > div > div:nth-of-type(3n + 1) {
    background-color: var(--c-dark-blue);
}

.columns.rainbow > div > div:nth-child(3n + 1),
.columns.rainbow-reverse > div > div:nth-of-type(3n) {
    background-color: var(--c-darker-plum);
}

.columns.rainbow > div > div:nth-child(3n + 2),
.columns.rainbow-reverse > div > div:nth-of-type(3n + 2) {
    background-color: var(--c-dark-plum);
}

@media (min-width: 600px) {
    .columns:where(.rainbow,.rainbow-reverse) > div {
        /* stylelint-disable declaration-block-no-redundant-longhand-properties */
        flex-direction: unset;
        flex-wrap: wrap;
        /* stylelint-enable declaration-block-no-redundant-longhand-properties */
    }

    .columns:where(.rainbow,.rainbow-reverse) {
        --column-fb-left: 40%;
        --column-fb-other: 40%;
        --column-fb-right: 40%;
    }

    .columns.columns-3-cols:where(.rainbow,.rainbow-reverse) {
        --column-fb-left: 100%;
    }
}

@media (min-width: 900px) {
    .columns {
        --column-fb-left: 50%;
        --column-fb-other: 0%;
        --column-fb-right: 50%;
    }

    .columns > div {
        flex-flow: unset;
    }

    .columns > div > div {
        padding: 0 16px;
    }

    .columns.reverse-on-mobile > div {
        flex-direction: unset;
    }

    .columns.layout-66-33 {
        --column-fb-left: 66.6667%;
        --column-fb-right: 33.3332%;
    }

    .columns.layout-33-66 {
        --column-fb-left: 33.3332%;
        --column-fb-right: 66.6667%;
    }

    .columns.layout-75-25 {
        --column-fb-left: 75%;
        --column-fb-right: 25%;
    }

    .columns.layout-25-75 {
        --column-fb-left: 25%;
        --column-fb-right: 75%;
    }

    .columns.layout-15-85 {
        --column-fb-left: 15%;
        --column-fb-right: 85%;
    }

    /* 3 columns */
    .columns.columns-3-cols {
        --column-fb-left: 33%;
        --column-fb-other: 33%;
        --column-fb-right: 33%;
    }

    .columns.no-gap > div {
        gap: 0;
    }

    .columns.border-in-between > div > div:not(:last-of-type) {
        border-right: 2px solid rgba(0 0 0 / 10%);
        padding-right: 4.1667%;
    }

    .columns.border-in-between > div > div:not(:first-of-type) {
        padding-left: 4.1667%;
    }

    .text-center {
      text-align: center;
    }
}
