.accordion-item {
    padding: 0 16px;
    margin: 16px 0;
}

.accordion-trigger {
    display: flex;
    align-items: center;
    border-top: 2px solid;
    cursor: pointer;
    padding: 16px 0;
    min-height: 120px;
    line-height: 40px;
    font-size: 36px;
}

.dark-plum .accordion-trigger {
    color: var(--c-dark-plum);
}

.red .accordion-trigger {
    color: var(--c-red);
}

.accordion-trigger > p {
    display: inline-flex;
    width: calc(100% - 40px);
}

.accordion-content {
    transition: max-height .3333s;
    max-height: 0;
    overflow: hidden;
}

[aria-expanded] .accordion-content {
    max-height: 1000px;
}

.accordion-trigger .icon {
    padding: 20px;
    border-radius: 50%;
    border: 1px solid;
    width: 20px;
    height: 20px;
}

.accordion-trigger .icon svg {
    display: block;
    height: 100%;
    width: 100%;
    transform: rotate(90deg);
    transition: transform .3333s cubic-bezier(0.66,-0.1,0.74,0.73)
}

[aria-expanded] .accordion-trigger .icon svg {
    transform: rotate(270deg);
}
