.chapter-cards-wrap {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
}

@media (max-width: 799px) {
    .chapter-cards-wrap {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 800px) {
    .chapter-cards-wrap {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.chapter-cards-item {
    display: grid;
    grid-template-areas: 'box';
    background: var(--c-dark-plum);
    height: 260px;
}

.chapter-cards-item:hover * {
    background: var(--c-mid-teal);
    color: var(--c-dark-plum);
    transition: 0.3s ease-in-out;
}

.chapter-cards-name {
    font-size: var(--heading-font-size-m);
    color: var(--c-white);
    padding: 20px 0 0 20px;
    height: 145px;
}

.chapter-cards-title {
   background: var(--c-dark-teal);
   color: var(--c-dark-plum);
   font-size: 18px;
   font-weight: 600;
   text-transform: uppercase;
   padding: 20px 0 0 20px;
   height: 80px;
}

.chapter-cards svg {
   width: 38px;
   height: 38px;
   fill: currentcolor;
}

.icon-plus,.icon-lock,.icon-close {
    float: right;
    cursor: pointer;
}

.icon-close {
    margin-top: -18px;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: var(--c-black); 
    background-color: var(--c-lightbox-bg);
    transition: all .3s linear 0s;
}
  
.modal-content {
    background-color: var(--c-white);
    margin: auto;
    padding: 20px;
    border: none;
    width: 15%;
}

input::placeholder {
    font-size: 14px;
}

.modal h5 {
    text-align: center;
    font-weight: bold;
}

.modal .button {
    background: var(--c-dark-teal);
    color: var(--c-dark-plum);
    padding: 10px;
    border-radius: 10px;
    width: 30%;
    cursor: pointer;
    display: block;
    text-align: center;
    margin: auto;
    font-weight: bold;
    border: none;
}