main .section.job-openings-container {
  padding: 0;
}

main .section.job-openings-container .job-openings-wrapper {
  border-top: 2px solid rgba(0 0 0 / 10%);
  min-height: 100%;
  width: 100%;
}

.embed-job-openings {
  width: 100%;
  height: 5500px;
  border: none;
}

@media (min-width: 769px) {
  .embed-job-openings {
    height: 2500px;
  }
}
