.personalization-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-block-end: 80px;

    > *:first-child {
        grid-column: span 2;
    }

    > *:not(:first-child) {
        grid-column: span 1;
    }

    > *:only-child {
        grid-column: span 2;
    }

    @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }

    .card-offer {
        border: 1px solid #e0e0e0;
        padding: 20px;
    }
}