/* header and nav layout */

/* nav element */
header nav {
  display: grid;
  grid-template:
    'brand . hamburger' var(--nav-height)
    'sections sections sections' 1fr / 50px 1fr 50px;
  align-items: center;
  padding: 0;
  position: absolute;
  z-index: 1;
  width: 100vw;
  box-sizing: border-box;
  height: var(--nav-height);
  justify-content: space-between;
}

header nav a:any-link {
  color: currentcolor;
}

header nav[aria-expanded='true'] {
  grid-template: 'brand hamburger' var(--nav-height) 'sections sections' 1fr 'tools tools' 56px;
  grid-template-columns: 1fr 56px;
  overflow-y: scroll;
  min-height: 100vh;
}

header nav .nav-overlay {
  display: none;
}

header nav .nav-picture {
  display: none;
}

/* nav-brand element */
header .nav-brand {
  grid-area: brand;
  padding: 2rem;
}

header nav .nav-brand p {
  margin: 0;
}

header nav .nav-brand img {
  width: 150px;
  height: 40px;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 16px;
  cursor: pointer;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  top: 8px;
  width: 24px;
  height: 2px;
  border-radius: 0;
  background: #2e308e;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  content: '';
  position: absolute;
  top: -7px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 7px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 24px;
  height: 16px;
  border: 2px solid transparent;
  border-radius: 0;
  transform: translate(-3px, -2px);
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after,
header nav[aria-expanded='true'] .nav-hamburger-icon::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  background: #2e308e;
  transform: rotate(45deg);
  border-radius: 0;
  top: 8px;
  left: 1px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  transform: rotate(-45deg)
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex-direction: column;
  display: none;
  background-color: var(--overlay-color);
  flex: 1 1 auto;
  position: relative;
}

header nav .nav-sections .nav-drop-ul-wrapper {
  display: inline;
}

header nav[aria-expanded='true'] .nav-sections {
  background-color: #2e308e;
  display: block;
  height: 100%;
}

header nav[aria-expanded='true'] .nav-sections ul  {
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 1.5em 0 3em 1.5em;
  gap: 1em;
  font-size: 16px;
  font-weight: normal;
  list-style: none;
}

header nav[aria-expanded='true'] .nav-sections li {
  font-size: 16px;
  font-weight: 400;
  height: 1.5em;
  color: white;
}

header nav .nav-sections span.close-menu-arrow svg {
  transform: rotate(180deg);
}

header nav .nav-sections li span.icon.icon-chevron-right svg {
  display: none;
  width: 16px;
  height: 16px;
  fill: white;
  cursor: pointer;
}

header nav[aria-expanded='true'] .nav-sections li span.icon.icon-chevron-right svg {
  display: initial;
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  display: none;
  flex: 0 0 auto;
  height: 100%;
  background: var(--c-dark-plum);
}

header nav .nav-tools p {
  margin: 0;
}

header nav[aria-expanded='true'] .nav-tools img {
  display: unset;
}

header nav[aria-expanded='true'] .nav-tools li {
  padding: 0;
}

header nav .nav-sections li a {
  color: #fff;
  padding: 5px 0;
  margin: 0 8px;
  -webkit-font-smoothing :antialiased;
  border-bottom: 3px solid transparent;
}

header nav .nav-sections li a:hover {
  border-bottom: 3px solid #fff;
  text-decoration: none;
}

header nav[aria-expanded='true'] .nav-tools ul {
  font-size: unset;
  flex-direction: column;
}

header nav[aria-expanded='true'] .nav-tools ul::before {
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  background: #fff;
  bottom: -3px;
  top: auto;
  right: 27px;
}

header nav .nav-tools > ul > li:last-of-type > a span.icon.icon-chevron-right svg {
  display: none;
}

/* nav tools mobile language selector */
header nav[aria-expanded='true'] .nav-tools > ul {
  display: none;
  list-style: none;
  flex-direction: row;
  width: 100%;
  padding: 8px;
  gap: 20px;
  justify-content: center;
  box-sizing: border-box;
}

header nav .nav-sections > ul > li.nav-drop ul {
  display: none;
}

header nav[aria-expanded='true'] .nav-tools[aria-expanded='true'] > ul {
  display: flex;
  position: absolute;
  bottom: 40px;
  background: white;
}

header nav[aria-expanded='true'] .nav-tools button.lang-toggle {
  width: 100%;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: none;
}

header nav[aria-expanded='true'] .nav-tools button.lang-toggle::after {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-left: 3px solid white;
  border-top: 3px solid white;
  transform: rotate(-135deg);
  transition: transform 300ms;
}

header nav[aria-expanded='true'] .nav-tools[aria-expanded='true'] button.lang-toggle::after {
  transform: rotate(45deg);
}

header nav[aria-expanded='true'] .nav-tools {
  display: initial;
}

header nav .nav-sections ul > li.nav-drop[aria-expanded='true'] > .nav-drop-ul-wrapper > ul {
  width: 100%;
  display: flex;
  background: var(--c-dark-plum);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}

/* desktop nav styles */
@media (min-width: 992px)  {
  header nav {
    display: flex;
    width: 100%;
    padding: 0 32px;
    position: relative;
  }

  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  header nav .nav-picture {
    display: initial;
  }

  header nav .nav-picture img {
    height: 100%;
    width: auto;
    max-width: 350px;
    object-fit: contain;
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  /* hamburger */
  header nav .nav-hamburger {
    display: none;
  }

  header nav .nav-brand {
    padding: 0;
  }

  /* sections and tools */
  header nav .nav-sections {
    position: initial;
    display: unset;
    flex: none;

    /* Extend nav by 50px to prevent mouseleave event when moving mouse from bar to hover menu */
    padding-bottom: 50px;
    margin-bottom: -50px;
  }

  header nav .nav-sections a {
    font-size: 16px;
  }

  header nav .nav-sections .back-button {
    display: none;
  }

  header nav .nav-tools {
    display: flex;
    align-items: center;
    background: none;
    height: initial;
  }

  header nav .nav-tools button.lang-toggle {
    display: none;
  }

  header nav .nav-tools > ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    color: var(--c-dark-plum);
  }

  header nav .nav-tools ul li a {
    border-color: var(--c-dark-plum);
    padding: 12px 0;
    margin: 0 8px;
    color: var(--c-dark-plum);
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    line-height: 1em;
    text-transform: uppercase;
  }

  header nav .nav-sections li a:hover {
    border-bottom: 3px solid #fff;
    text-decoration: none;
  }

  header nav .nav-tools > ul > li:first-child > a {
    text-decoration: underline;
  }

  header nav .nav-sections ul > li > .nav-drop-ul-wrapper span.icon.icon-chevron-right svg {
    cursor: initial;
    display: initial;
  }

  header nav .nav-tools  ul  li  a:hover {
    text-decoration: none;
  }

  header nav .nav-sections > ul > li.nav-drop > a {
    padding: 12px 0;
    margin: 0 8px;
    color: var(--c-dark-plum);
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    line-height: 1em;
    text-transform: uppercase;
   }

  /* Let's talk button */
  header nav .nav-tools > ul > li:last-of-type > a {
    background-color:var(--c-dark-plum);
    color: var(--c-light-teal);
    border-width: thin;
    border-style: solid;
    border-color:var(--c-dark-plum);
    border-image: initial;
    border-radius: 36px;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: 3em;
    line-height: 36px;
    text-transform: uppercase;
    padding: 0 24px;
  }

  header nav .nav-tools > ul > li:last-of-type > a span.icon.icon-chevron-right svg {
    width: 12px;
    height: 12px;
    fill: currentcolor;
    margin-left: 10px;
    margin-bottom: -1px;
    display: initial;
  }

  header nav .nav-tools > ul > li:last-of-type > a:hover {
    border: 1px solid var(--c-dark-plum);
    background: none;
    color: var(--c-dark-plum);
  }

   header nav .nav-sections > ul > li.nav-drop > a:hover {
    border-bottom: 3px solid var(--c-dark-plum);
    text-decoration: none;
   }

  /* First level nav */
  header nav .nav-sections ul {
    display: flex;
    margin: 0;
    padding: 0;
    color: var(--c-dark-plum);
  }

  header nav .nav-sections li[aria-expanded='true'] .nav-overlay {
    display: initial;
    position: fixed;
    z-index: -1;
    top: var(--nav-height);
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0 0 0 / 50%);
  }

  /* Second level nav */
  header nav .nav-sections > ul > li > .nav-drop-ul-wrapper > ul {
    padding: 50px;
    max-width: 1200px;
    margin: auto;
  }

  header nav .nav-sections > ul > li > .nav-drop-ul-wrapper > ul > li:any-link {
    font-size: var(--body-font-size-m);
  }

  /* First level nav expansion */
  header nav .nav-sections ul > li.nav-drop[aria-expanded='true'] > .nav-drop-ul-wrapper {
    position: absolute;
    left: 0;
    z-index: 2;
    background-color: var(--c-dark-plum);
    width: 100vw;
    top: calc(var(--nav-height) - 25px);
    margin: 0 auto;
  }

  header nav .nav-sections ul > li.nav-drop[aria-expanded='true'] > .nav-drop-ul-wrapper > ul {
    position: initial;
    display: flex;
    flex-direction: column;
    color: var(--background-color);
    top: calc(var(--nav-height) - 5px);
    gap: 8px;
  }

  /* Second level nav expansion */
  header nav .nav-sections ul > li.nav-drop[aria-expanded='true'] > .nav-drop-ul-wrapper li.nav-drop[aria-expanded='true'] > .nav-drop-ul-wrapper {
    position: absolute;
    left: 40%;
    height: 100%;
    top: 0;
    border-left: 3px solid white;
    padding-left: 30px;
    padding-top: 50px;
    box-sizing: border-box;
  }

  header nav .nav-sections ul > li.nav-drop[aria-expanded='true'] > .nav-drop-ul-wrapper li.nav-drop[aria-expanded='true'] > .nav-drop-ul-wrapper > ul {
    display: flex;
  }
}

@media (min-width: 1200px) {
  :root {
    --nav-width: var(--section-width);
  }

  header nav {
    width: var(--nav-width);
    margin: auto;
    padding: 0;
  }

  header nav .nav-picture img {
    right: calc(-1 * (var(--nav-width) - 100vw) / 2);
    padding-right: 0;
  }

  /* Compensate for auto margin to get full width */
  header nav .nav-sections > ul > li.nav-drop[aria-expanded='true'] .nav-drop-ul-wrapper {
    left: calc((var(--nav-width) - 100vw) / 2);
  }
}
