/* header and nav layout */

/* nav element */
header nav {
  display:flex;
  align-items: center;
  padding: 0 2rem;
  position: fixed;
  width: 100vw; 
  box-sizing: border-box;
}

header nav a:any-link {
  color: currentcolor;
}

header nav[aria-expanded='true'] {
  grid-template: 'hamburger brand' 'sections sections' 'tools tools';
  grid-template-columns:  56px 1fr;
  overflow-y: scroll;
}

/* nav-brand element */
header .nav-brand {
  grid-area: brand;
}

header nav .nav-brand p {
  margin: 0;
}

header nav .nav-brand img {
  width: 150px;
  height: 40px;
}

/* hamburger */
header nav .nav-hamburger {
  grid-area: hamburger;
  height: 16px;
  cursor: pointer;
}

header nav[aria-expanded='false'] .nav-hamburger-icon,
header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  box-sizing: border-box;
  position: relative;
  display: block;
  top: 8px;
  width: 24px;
  height: 2px;
  border-radius: 0;
  background: #2e308e;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after,
header nav[aria-expanded='false'] .nav-hamburger-icon::before {
  content: '';
  position: absolute;
  top: -7px;
}

header nav[aria-expanded='false'] .nav-hamburger-icon::after {
  top: 7px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 24px;
  height: 16px;
  border: 2px solid transparent;
  border-radius: 0;
  transform: translate(-3px, -2px);
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after,
header nav[aria-expanded='true'] .nav-hamburger-icon::before {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 2px;
  background: #2e308e; 
  transform: rotate(45deg);
  border-radius: 0;
  top: 8px;
  left: 1px;
}

header nav[aria-expanded='true'] .nav-hamburger-icon::after {
  transform: rotate(-45deg)
}

/* sections */
header nav .nav-sections {
  grid-area: sections;
  flex-direction: column;
  display: none;
  background-color: var(--overlay-color);
  flex: 1 1 auto;
}

header nav .nav-sections ul  {
  font-size: 16px;
  font-weight: normal;
  list-style: none;
} 

/* header nav .nav-sections li {
  font-size: 20px;
  font-weight: 500;
} */

header nav[aria-expanded='true'] .nav-sections {
  display: block;
}

/* tools */
header nav .nav-tools {
  grid-area: tools;
  flex: 0 0 auto;
  height: 22px;
}

header nav .nav-tools p {
  margin: 0;
}

header nav .nav-tools ul {
  list-style: none;
}

header nav[aria-expanded='true'] .nav-tools img {
  display: unset;
}

header nav[aria-expanded='true'] .nav-tools ul {
  font-size: unset;
  flex-direction: column;
}

header nav[aria-expanded='true'] .nav-tools li {
  padding: 0;
}

/* this must be removed once why the logo is repeating */
header nav .nav-brand a > .icon-netcentric-logo>img:last-of-type{
display: none;
}

/* mobile nav styles */
@media (max-width: 991px) { 
  /* header and nav */
  header {
    height: var(--mobile-nav-height);
  }

  header nav {
    justify-content: space-between;
    height: 60px;
  }

  header nav[area-expanded='true']{
    align-items:flex-start;
  }

  /* hamburger */
  header nav .nav-hamburger {
    order: 2;
  }

  /* sections */
  header nav[aria-expanded='true'] .nav-sections {
    display: flex;
    position: fixed;
    width: 100vw;
    height: 100%;
    top: calc(var(--mobile-nav-height) + 1px);
    background-color: #2e308e;
    left: 0;  
  }

  header nav[aria-expanded='true'] .nav-sections ul  {
    margin: 0; 
    display: flex;
    flex-direction: column;
    padding: 1.5em 0 3em 1.5em; 
    height: 100vh;
    gap: 1em;
  } 

  header nav[aria-expanded='true'] .nav-sections li {
    font-size: 16px;
    font-weight: 400;
    height: 1.5em;
  }

  header nav .nav-sections li:not(.nav-drop) {
    display: none;
  }

  header nav .nav-sections li a {
    color: #fff;
    padding: 5px 0;
    margin: 0 8px;
    -webkit-font-smoothing :antialiased;
    border-bottom: 3px solid transparent;
  }

  header nav .nav-sections li a:hover {
    border-bottom: 3px solid #fff;
    text-decoration: none;
  }

  /* tools */
  header nav .nav-tools{
    display: none;
  }
}

/* desktop nav styles */
@media (min-width: 992px)  {
  /* header and nav */
  header {
    margin:  0 calc((100vw - 960px) / 2); 
  } 

  header nav {
    margin-top: 16px;
    width: 960px;   
    position: relative;
    padding-top: 40px;
    padding-left:16px;
    padding-right: 0;
  }

/* hamburger */
  header nav .nav-hamburger {
    display: none;
  }

/* sections and tools */
  header nav .nav-sections > ul > li.nav-drop {
   padding-block-end: 1.1em;
   padding: 0;
  }

  header nav .nav-tools ul {
    display: flex;
    margin: 0;
    padding: 0;
    color: var(--dark-blue-color);
  }

  header nav .nav-tools ul  li  a{
    border-color: var(--dark-blue-color);
    padding: 12px 0;
    margin: 0 8px;
    color: var(--dark-blue-color);
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    line-height: 1em;
    text-transform: uppercase;
  }

  header nav .nav-sections li a:hover {
    border-bottom: 3px solid #fff;
    text-decoration: none;
  }

  header nav .nav-tools  ul  li  a:hover{
    text-decoration: none;
  }

  header nav .nav-tools > ul > li:last-of-type > a{
    background-color:var(--dark-blue-color);
    color: var(--teal-color);
    border-width: thin;
    border-style: solid;
    border-color:var(--dark-blue-color);
    border-image: initial;
    border-radius: 36px;
    font-size: 12px;
    text-align: center;
    font-weight: 700;
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: 3em;
    line-height: 36px;
    text-transform: uppercase;
    padding: 0 24px;
  }

  header nav .nav-sections > ul > li.nav-drop > a{
    border-color: var(--dark-blue-color);
    padding: 12px 0;
    margin: 0 8px;
    color: var(--dark-blue-color);
    font-size: 12px;
    font-weight: 700;
    text-align: left;
    line-height: 1em;
    text-transform: uppercase;
   }

   header nav .nav-sections > ul > li.nav-drop > a:hover {
    border-bottom: 3px solid var(--dark-blue-color);
    text-decoration: none;
   }



  /* header nav .nav-drop::after {
    content: ' ';
    border: 1px solid currentolor;
    transform: rotate(135deg);
    border-width: 2px 2px 0 0;
    display: inline-block;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 8px;
    right: 14px;
  } */

  header nav .nav-sections {
    display: unset;
    flex: none ;
    margin: 0 auto;
  }

  header nav .nav-sections ul {
    display: flex;
    margin: 0;
    padding: 0;
    color: var(--dark-blue-color);
  }
  
  header nav[aria-expanded='true'] .nav-sections ol {
    display: flex;
    min-height: unset;
  }

  header nav .nav-sections > ul > li{
    padding: 0 16px;
    position: relative;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    padding-top: 0;
  }

  header nav .nav-sections > ul > li > p {
    margin: 0;
  }

  header nav .nav-sections > ul > li > ul {
    margin-top: 20px;
    display: none;
    position: relative;
  }

  header nav .nav-sections > ul > li > ul:any-link {
    font-size: var(--body-font-size-m);
  }

  /* header nav .nav-sections > ul > li > ul::before {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;    
    border-bottom: 15px solid var(--highlight-background-color);
    top: -15px;
    left: 20px;
  } */

  header nav .nav-sections > ul > li > ul > li {
    font-size: var(--body-font-size-m);
    font-weight: normal;
    padding: 5px 1.5em;
  }

  header nav .nav-sections > ul > li[aria-expanded='true'] ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--dark-blue-color);
    color: var(--background-color);
    width: 100vw;
    top: 3.5em;
    gap: 1em;
    margin: 0 auto;
    z-index: 2;
  }

}
@media (min-width: 1200px) {
  header {
    margin:  0 calc((100vw - 1176px) / 2) !important; 
   } 
   
   header nav {
     width: 1176px !important;   
   }
}
