/* block specific CSS goes here */

:root {
  --hero-button-font-size: 12px;
  --hero-paragraph-font-size: 20px;
}

main .hero-container > div {
  max-width: unset;
}

main .hero-container {
  padding: 0;
  background-color: var(--c-dark-plum);
  color: var(--c-light-teal);
}

main .hero {
  position: relative;
  padding: 60px 32px;
  min-height: fit-content;
}

main .hero.small {
  min-height: 50px;
  padding: 10px 32px;
}

main .hero.medium {
  min-height: 150px;
  padding: 30px 32px;
}

main .hero.large {
  min-height: 300px;
  padding: 60px 32px;
}

main .hero h1 {
  max-width: 1200px;
  color: inherit;
  font-weight: 400;
  margin: 0;
}

main .hero p {
  color: inherit;
  margin: 0;
  font-size: var(--heading-font-size-s);
}

body:not(.blogpost) main .hero a:any-link {
  background: var(--c-light-teal);
  color: var(--c-dark-plum);
  font-size: var(--body-font-size-s);
  text-transform: uppercase;
}

body:not(.blogpost) main .hero a:any-link:hover {
  border: 1px solid var(--c-light-teal);
  background: var(--c-dark-plum);
  color: var(--c-light-teal);
}

main .hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

main .hero .button-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}

main .hero .button-container > * {
  max-width: 250px;
}

main .hero a.button {
  width: 100%;
  font-size: var(--hero-button-font-size);
}

main .hero a.button > .icon-chevron-right {
  margin-left: 14px;
}

main .hero .button-container a.button.secondary {
  border: 1px solid var(--c-light-teal);
  color: var(--c-light-teal);
  background: var(--c-dark-plum);
}

main .hero .button-container a.button.secondary:hover {
  color: #77bad7;
  border-color: #77bad7;
}

body.blogpost main .hero-container {
  background-color: unset;
  color: var(--c-dark-plum);
}

body.blogpost main .hero {
  min-height: unset;
  padding-top: 0;
}

body.blogpost main .hero hr {
  margin-top: 0;
  margin-bottom: 60px;
}

body.blogpost main .hero img {
  margin-top: 50px;
}

body.blogpost main .hero p {
  color: var(--text-color);
}

@media (min-width: 900px) {
  main .hero a.button {
    width: unset;
  }

  main .hero .button-container {
    display: flex;
    gap: 50px;
    flex-direction: row;
  }

  main .hero,
  main .hero.large {
    padding: 60px 0;
  }

  main .hero.small {
    padding: 10px 0;
  }

  main .hero.medium {
    padding: 30px 0;
  }
}
