/* Text */
.offices .button-container:not(:has(strong)) a.button:any-link {
  color: var(--link-color);
}

.offices p,
.offices .button-container:not(:has(strong)) a.button:any-link {
  font-size: 14px;
  line-height: 1.2em;
}

.offices .button-container .icon svg {
  height: 8px;
}

.offices .button-container:not(:last-of-type) {
  margin: 0;
}

/* Layout */
.offices.layout-1-4 h2:not(:has(+ .button-container)) {
  color: var(--c-dark-plum);
}

.offices {
  display: flex;
  flex-direction: column;
}

.offices.layout-1-4 {
  flex-flow: column wrap;
}

.offices > div {
  flex: 1 1 0%;
}

@media (min-width: 600px) {
  .offices,
  .offices.layout-1-4 {
    flex-direction: unset;
  }

  .offices.layout-2-4 {
    flex-wrap: wrap;
  }

  .offices.layout-2-4 > div,
  .offices.layout-1-4 > div {
    flex: 1 1 44%;
    padding-inline: 1em;
  }

  .offices.layout-1-4 > div:first-of-type {
    flex: 1 1 100%;
    padding-block-end: 1em;
  }
}

@media (min-width: 992px) {
  .offices.layout-2-4 > div,
  .offices.layout-1-4 > div {
    flex: 1 1 20%;
    padding-inline: 1em;
  }

  .offices.layout-1-4 > div:first-of-type,
  .offices.layout-1-4 > div:nth-of-type(2) {
    flex: 1 1 44%;
  }
}
