.blog-sidebar .authorprofile {
  padding-bottom: 35px;
}

.blog-sidebar .authorprofile .image {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  overflow: hidden;
}

.blog-sidebar .authorprofile .info {
  display: inline-block;
  line-height: 1.4em;
  vertical-align: middle;
}

.blog-sidebar p {
  /* undoes margin from styles.css */
  margin: 0;
}

.blog-sidebar .authorprofile .name {
  font-weight: bold;
}

.blog-sidebar .share .icon {
  font-size: 42px;
  fill: var(--c-dark-teal);
}

.share .icon > svg {
  height: 1em;
}

@media (min-width: 992px) {
  .blog-sidebar-container {
    display: flex;
  }

  main .section > div.blog-sidebar-wrapper {
    width: 300px;
    margin: 0 0 0 auto;
  }

  .blog-sidebar .authorprofile .info {
    display: block;
  }

  .section.blog-sidebar-container > div:not(.blog-sidebar-wrapper) {
    width: calc(var(--section-width) - 300px);
    margin: 0 auto 0 0;
  }
}
