main .embed {
    width: unset;
    text-align: center;
    max-width: 100%;
    margin: 16px auto;
}

main .embed > div {
    display: block;
}

.embed-offerings-wrapper {
    left: 0; 
    width: 100%; 
    height: 0; 
    position: relative; 
    padding: 47% 0;
}

.embed-offerings-content {
    border: 0; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    overflow: visible;
}
