.search.block {
  display: flex;
  height: auto;
}

.search.block .search-results {
  padding: 0 5em;
}

.search.block:has(.results-empty) {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
}

.search.block:has(.results-empty) .search-results {
  flex: 0 0 40%;
}

.search.block .results-link:hover {
  text-decoration: underline;
}