footer {
  background-color: var(--c-dark-mid-plum);
  font-size: var(--body-font-size-m);
  color: white;
}

.footer {
  max-width: 1200px;
  margin: auto;
}


.footer ul {
  list-style-type: none;
}

.footer a {
  color: white;
  text-decoration: none;
}

/* main footer section that contains the different subsections */
footer > div > div {
  display: flex;
  flex-flow: row wrap;
  padding: 16px;
}

/* each footer subsection */
footer > div > div > div {
  min-width: 50%;
}

/* links subsection */
footer > div > div > div:first-child {
  display: flex;
  flex-flow: row wrap;

}

/* each link group */
footer > div > div > div:first-child > ul {
  padding-inline-start: 0;
  padding-inline-end: 50px;
  min-width: calc(100% - 50px);
}

@media(min-width: 600px) {
  footer > div > div > div:first-child > ul {
    min-width: 40%;
  }
}

@media(min-width: 992px) {
  footer > div > div > div:first-child > ul {
    min-width: unset;
  }
}

/* title of each link section */
footer > div > div > div:first-child > ul > li:first-child {
  font-weight: bold;
}

/* netcentric logo */
footer > div > div > div > p > a > picture > img {
  width: 150px;
  height: 40px;
}

/* social subsection */
footer > div > div > div:nth-child(3) > ul {
  display: inline-flex;
  float: right;
  padding-inline-start: 0;
  font-size: large;
}

footer .icon,
footer .icon svg {
  font-size: 46px;
  height: 1em;
  width: 1em;
  fill: currentcolor;
  display: inline-block;
}

footer .icon-youtube svg {
  font-size: 40px;
}

footer .icon-youtube {
  transform: translateY(-2px);
}

/* Privacy subsection */
footer > div > div > div:last-child {
  font-size: 14px;
  font-weight: normal;
  text-align: right;
  margin-left: auto;
}

/* campaign template */
/* stylelint-disable-next-line no-descending-specificity */
.campaign footer > div > div {
  align-items: center;
}

.campaign footer > div > div > div:last-child > ul {
  display: inline-flex;
  padding-inline-start: 0;
}

.campaign footer > div > div > div {
  display: flex;
  width: 100%;
}

.campaign footer > div > div > div:last-child {
  justify-content: center;
}

@media (min-width: 600px) {
  .campaign footer > div > div > div {
    width: 50%;
  }
}

@media (min-width: 900px) {
  .campaign footer > div > div > div:first-child {
    order: 1;
    margin-inline-start: -10%;
    z-index: 1;
  }

  .campaign footer > div > div > div:last-child {
    margin-left: unset;
    transform: translateX(-10px);
  }
}