:root {
  --c-yellow-40: #e9c71d4d;
  --slider-size: 20px;
  --switch-width: calc(var(--slider-size) * 2.4);
  --switch-height: calc(var(--slider-size) * 1.4);
}

.search-results {
  display: flex;
  height: auto;
}

@media (min-width: 900px) {
  .search-results-content {
    padding: 0 5em;
  }
}

.search-results:has(.results-empty, .results-loading) {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
}

.search-results:has(.results-loading) {
  height: 100vh;
}

.search-results:has(.results-empty, .results-loading) .search-results-content {
  flex: 0 0 40%;
}

.search-results .results-link:hover {
  text-decoration: underline;
}

.search-results-content > h2 > span,
.results-text em {
  text-decoration: underline;
}

.results-text .highlighted {
  background-color: var(--c-yellow-40);
}

/* The switch - the box around the slider */
.toggle {
  display: flex;
  gap: 1em;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--c-light-gray);
  transition: .4s;
}

.slider::before {
  position: absolute;
  content: "";
  height: var(--slider-size);
  width: var(--slider-size);
  left: 4px;
  bottom: 4px;
  background-color: var(--c-white);
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--c-mid-plum);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--c-mid-plum);
}

input:checked + .slider::before {
  transform: translateX(var(--slider-size));
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round::before {
  border-radius: 50%;
}