.social h2 {
    color: var(--fg-color);
}

.social>ul {
    display: grid;
    list-style: none;
    grid-template-columns: 1fr;
    padding: 0;
    column-gap: 32px;
}

.social .icon {
    display: block;
    width: 76px;
    height: 76px;
    margin-left: -22px;
    margin-top: 23px;
    margin-bottom: -17px;
}

.social svg {
    width: 76px;
    height: 76px;
    fill: currentcolor;
}

.youtube svg {
    width: 65px;
    translate: 15px;
}

.social>ul>li {
    margin: 16px 0;
}

.social>ul>li>a {
    display: block;
    padding: 24px;
    color: var(--fg-color);
    background-color: var(--bg-color);
}

.social>ul>li>a:hover {
    color: var(--bg-color);
    background-color: var(--fg-color);
    border: solid 1px #d0d0ce;
    text-decoration: none;
    margin: -1px;
}

.social>ul>li>a:hover>h2 {
    color: var(--bg-color);
}

.social>ul>li>a>* {
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.social>ul>li>a>*:nth-child(1) {
    text-transform: uppercase;
    line-height: 1.4;
    font-weight: 700;
}

.social>ul>li>a>*:nth-child(2) {
    line-height: 1.2;
    font-size: 24px;
    font-weight: 400;
}

.social .social-card {
    --fg-color: var(--bg-text-social);
}

.social-card.linkedin {
    --bg-color: var(--linked-in);
}

.social-card.facebook {
    --bg-color: var(--facebook);
}

.social-card.twitter {
    --bg-color: var(--twitter);
}

.social-card.instagram {
    --bg-color: var(--instagram);
}

.social-card.youtube {
    --bg-color: var(--youtube);
}

.social-card.github {
    --bg-color: var(--git);
}

.social:is(
    .dark-plum,
    .mid-plum,
    .light-plum,
    .dark-blue,
    .mid-blue,
    .dark-teal,
    .dark-gray,
    .mid-gray,
    .yellow,
    .red
) .social-card {
    --fg-color: var(--c-white);
}

.social:is(
    .mid-teal,
    .light-blue,
    .light-teal,
    .light-gray
) .social-card {
    --fg-color: var(--c-dark-plum);
}

.social.dark-plum .social-card {
    --bg-color: var(--c-dark-plum);
}

.social.mid-plum .social-card {
    --bg-color: var(--c-mid-plum);
}

.social.light-plum .social-card {
    --bg-color: var(--c-light-plum);
}

.social.dark-blue .social-card {
    --bg-color: var(--c-dark-blue);
}

.social.mid-blue .social-card {
    --bg-color: var(--c-mid-blue);
}

.social.light-blue .social-card {
    --bg-color: var(--c-light-blue);
}

.social.dark-teal .social-card {
    --bg-color: var(--c-dark-teal);
}

.social.mid-teal .social-card {
    --bg-color: var(--c-mid-teal);
}

.social.light-teal .social-card {
    --bg-color: var(--c-light-teal);
}

.social.dark-gray .social-card {
    --bg-color: var(--c-dark-gray);
}

.social.mid-gray .social-card {
    --bg-color: var(--c-mid-gray);
}

.social.light-gray .social-card {
    --bg-color: var(--c-light-gray);
}

.social.yellow .social-card {
    --bg-color: var(--c-yellow);
}

.social.red .social-card {
    --bg-color: var(--c-red);
}

@media (min-width: 600px) {
    .social>ul {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 900px) {
    .social>ul>li {
        padding: 0;
    }

    .social>ul>li>a>*:nth-child(2) {
        line-height: 1.25em;
        font-size: 30px;
    }

}

