.personalization-ed {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 40px;
    margin-block-end: 80px;

    > *:first-child {
        grid-column: span 2;
        display: flex;
        column-gap: 20px;
        align-items: center;

        img {
            width: calc(50% - 10px);
        }
    }

    > *:not(:first-child) {
        grid-column: span 1;
    }

    > *:only-child {
        grid-column: span 2;
    }

    @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr;
    }

    .ed-offer {
        h2 {
            margin-block: 0;
        }
    }
}