/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
*/

/* fallback font for Gellix (normal - 400) */

@font-face {
  font-family: 'gellix-normal-400-fallback';
  size-adjust: 100.871%;
  src: local('Arial');
}

/* fallback font for Gellix (normal - 700) */
@font-face {
  font-family: 'gellix-normal-700-fallback';
  size-adjust: 100.931%;
  src: local('Arial');
}

:root {
  /* Netcentric colors */
  --c-black: #000;
  --c-dark-blue: #2f78c4;
  --c-dark-mid-plum: #3e40a0; /* for background footer only */
  --c-dark-plum: #2e308e;
  --c-darker-plum: #1c1d55;
  --c-dark-gray: #53565a;
  --c-dark-teal: #06c7cc;
  --c-light-teal: #97f5f7;
  --c-light-blue: #92bbe6;
  --c-light-plum: #85a0f9;
  --c-light-gray: #d0d0ce;
  --c-mid-blue: #6aa2dc;
  --c-mid-plum: #7373d8;
  --c-mid-gray: #97999b;
  --c-mid-darkblue: #2f78c4;
  --c-midnight-blue: #000048; /* cognizant color */
  --c-mid-teal: #26efe9;
  --c-red: #b81f2d;
  --c-yellow: #e9c71d;
  --c-white: #fff;

  /* social colors */
  --twitter: #2f78c4;
  --facebook: #2e308e;
  --linked-in: #000048;
  --git: #24292e;
  --rss: #f26522;
  --youtube: #c4302b;
  --instagram: #8134af;
  --bg-text-social: var(--c-white);

  /* highlight */
  --c-highlight-red: var(--c-red);
  --c-highlight-yellow: var(--c-yellow);

  /* validations */
  --c-error: var(--c-highlight-red);

  /* default */
  --c-text-default: var(--c-black);
  --c-primary: var(--c-dark-plum);

  /* theme colors */

  /* background-colors-text */
  --bg-text-dark-plum: var(--c-light-teal);
  --bg-text-mid-plum: var(--c-white);
  --bg-text-light-plum: var(--c-white);
  --bg-text-dark-blue: var(--c-white);
  --bg-text-mid-blue: var(--c-white);
  --bg-text-light-blue: var(--c-dark-plum);
  --bg-text-dark-grey: var(--c-white);
  --bg-text-light-grey: var(--c-dark-plum);
  --bg-text-dark-teal: var(--c-dark-plum);
  --bg-text-mid-teal: var(--c-dark-plum);
  --bg-text-light-teal: var(--c-dark-plum);
  --bg-text-yellow: var(--c-white);
  --bg-text-red: var(--c-white);
  --bg-text-white: var(--c-dark-plum);
  --bg-text-black: var(--c-white);

  /* colors with opacity */
  --c-white-50: rgb(255 255 255 / 50%);
  --c-lightbox-bg: rgb(0 0 0 / 50%);
  --c-line-color: rgb(0 0 0 / 10%); /* for borders and lines */
  --c-shadow-color: rgb(0 0 0 / 15%);

  /* END Netcentric colors  */

  /* colors */
  --link-color: var(--c-dark-plum);
  --background-color: var(--c-white);
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: var(--c-dark-gray);
  --input-color: var(--c-black);
  --heading-color: var(--c-dark-plum);

  /* fonts */
  --body-font-family: 'Gellix', 'gellix-normal-400-fallback', 'Century Gothic',
    'CenturyGothic', 'AppleGothic', sans-serif;
  --heading-font-family: 'Gellix', 'gellix-normal-700-fallback',
    'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono',
    monospace;

  /* body sizes */
  --body-font-size-m: 16px;
  --body-font-size-s: 12px;
  --body-font-size-xs: 10px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 30px;
  --heading-font-size-l: 24px;
  --heading-font-size-m: 20px;
  --heading-font-size-s: 18px;
  --heading-nav-font-size: 18px;

  /* button font sizes */
  --button-font-size-default: 16px;
  --button-font-size-cta: 12px;

  /* nav height */
  --desktop-nav-height: 130px;
  --nav-height: 72px;
}

body {
  font-size: var(--body-font-size-m);
  letter-spacing: normal;
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
  color: var(--heading-color);
}

h1,
h2,
h3 {
  color: var(--c-primary);
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-nav-font-size);
}

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

code,
pre,
samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code,
samp {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

/* buttons */
a.button:any-link,
button {
  font-family: var(--body-font-family);
  box-sizing: border-box;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: var(--button-font-size-default);
  line-height: 1;
  cursor: pointer;
  color: var(--c-dark-gray);
  background-color: transparent;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

a.button.primary,
a.button.secondary,
button.primary,
button.secondary {
  padding: 0 24px;
  display: inline-block;
  font-size: var(--button-font-size-cta);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 36px;
  height: 3em;
  border-radius: 36px;
  border: thin solid var(--c-black);
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  cursor: pointer;
}

a.button.primary,
button.primary {
  background-color: var(--c-dark-plum);
  border: thin solid var(--c-dark-plum);
  color: var(--c-light-teal);
}

a.button.primary:hover,
a.button.primary:focus,
button.primary:hover,
button.primary:focus {
  opacity: 1;
  background-color: transparent;
  border: thin solid var(--c-dark-plum);
  color: var(--c-dark-plum);
}

a.button.secondary,
button.secondary {
  border: thin solid var(--c-dark-blue);
  background-color: var(--c-dark-blue);
  color: var(--c-white);
}

a.button.secondary:hover,
a.button.secondary:focus,
button.secondary:hover,
button.secondary:focus {
  background-color: transparent;
  color: var(--c-dark-blue);
}

button:disabled,
button:disabled:hover {
  cursor: unset;
}

.btn-center p.button-container {
  text-align: center;
}

main a.button > .icon-chevron-right,
main a.button > .icon-chevron-right svg {
  width: 12px;
  height: 12px;
  fill: var(--c-dark-gray);
}

span.icon {
  display: inline-block;
}

span.icon-chevron-right {
  margin-left: 5px;
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--input-color);
  color: var(--input-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--input-color);
}

main .section {
  padding: 32px;
}

main .section > div {
  margin: 0;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: '“';
  line-height: 0;
}

main blockquote p::after {
  content: '”';
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

main .default-content-wrapper img,
main .columns-wrapper img {
  width: auto;
}

@media (min-width: 900px) {
  :root {
    /* font sizes */
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 36px;
    --heading-font-size-l: 30px;
    --heading-font-size-m: 24px;
    --heading-font-size-s: 20px;
    --heading-nav-font-size: 18px;
    --nav-height: var(--desktop-nav-height);

    /* global viewport sizing */
    --section-width: 960px;
  }

  main .section {
    padding: 32px 0;
  }

  main .section > div:not(.fixed-social-media-wrapper) {
    width: var(--section-width);
    margin: 0 auto;
  }

  main.blogpost {
    display: flex;
  }
}

@media (min-width: 1200px) {
  :root {
    /* global viewport sizing */
    --section-width: 1176px;
  }

  /* section only visible on mobile */
  main .section.desktop-hidden {
    display: none;
  }
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

main .section.center {
  text-align: center;
}

/* section highlights */
main .section.light-plum {
  background-color: var(--c-light-plum);
  color: var(--bg-text-light-plum);
}

main .section.light-plum h2,
main .section.light-plum h3,
main .section.light-plum h4,
main .section.light-plum h5 {
  color: var(--bg-text-light-plum);
}

main .section.mid-plum {
  background-color: var(--c-mid-plum);
  color: var(--bg-text-mid-plum);
}

main .section.mid-plum h2,
main .section.mid-plum h3,
main .section.mid-plum h4,
main .section.mid-plum h5 {
  color: var(--bg-text-mid-plum);
}

main .section.dark-plum {
  background-color: var(--c-dark-plum);
  color: var(--bg-text-dark-plum);
}

main .section.dark-plum h2,
main .section.dark-plum h3,
main .section.dark-plum h4,
main .section.dark-plum h5 {
  color: var(--bg-text-dark-plum);
}

main .section.dark-plum a,
main .section.dark-plum button {
  color: var(--bg-text-dark-plum);
}

main .section.dark-plum a.button.primary,
main .section.dark-plum button.primary {
  background-color: var(--c-light-teal);
  border: thin solid var(--c-light-teal);
  color: var(--c-dark-plum);
}

main .section.dark-plum a.button.primary:hover,
main .section.dark-plum a.button.primary:focus,
main .section.dark-plum button.primary:hover,
main .section.dark-plum button.primary:focus {
  opacity: 1;
  background-color: transparent;
  color: var(--c-light-teal);
}

main .section.light-blue {
  background-color: var(--c-light-blue);
  color: var(--bg-text-light-blue);
}

main .section.light-blue h2,
main .section.light-blue h3,
main .section.light-blue h4,
main .section.light-blue h5 {
  color: var(--bg-text-light-blue);
}

main .section.mid-blue {
  background-color: var(--c-mid-darkblue);
  color: var(--bg-text-mid-blue);
}

main .section.mid-blue h2,
main .section.mid-blue h3,
main .section.mid-blue h4,
main .section.mid-blue h5 {
  color: var(--bg-text-mid-blue);
}

main .section.dark-blue {
  background-color: var(--c-dark-blue);
  color: var(--bg-text-dark-blue);
}

main .section.dark-blue h2,
main .section.dark-blue h3,
main .section.dark-blue h4,
main .section.dark-blue h5 {
  color: var(--bg-text-dark-blue);
}

main .section.dark-blue a,
main .section.dark-blue button {
  color: var(--bg-text-dark-blue);
}

main .section.light-grey {
  background-color: var(--c-light-gray);
  color: var(--bg-text-light-grey);
}

main .section.light-grey h2,
main .section.light-grey h3,
main .section.light-grey h4,
main .section.light-grey h5 {
  color: var(--bg-text-light-grey);
}

main .section.mid-grey {
  background-color: var(--c-mid-gray);
}

main .section.dark-grey {
  background-color: var(--c-dark-gray);
  color: var(--bg-text-dark-grey);
}

main .section.dark-grey h2,
main .section.dark-grey h3,
main .section.dark-grey h4,
main .section.dark-grey h5 {
  color: var(--bg-text-dark-grey);
}

main .section.dark-grey a,
main .section.dark-grey button {
  color: var(--bg-text-dark-grey);
}

main .section.light-teal {
  background-color: var(--c-light-teal);
  color: var(--bg-text-light-teal);
}

main .section.mid-teal {
  background-color: var(--c-mid-teal);
  color: var(--bg-text-mid-teal);
}

main .section.dark-teal {
  background-color: var(--c-dark-teal);
  color: var(--bg-text-dark-teal);
}

/* section text color */

main .section.text-white {
  color: var(--c-white);
}

.youtube-base,
.wistia-base {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.youtube-player,
.wistia-player {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spotify-base {
  height: 232px;
}

.spotify-player {
  border: none;
  width: 100%;
  height: 232px;
}

.scroll-indicator-container {
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 2;
}

.scroll-indicator-bar {
  width: 0;
  height: 6px;
  background-color: var(--c-dark-teal);
  position: absolute;
  left: 0;
}

.visuallyhidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* animations */

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animated-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animated-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animated-right {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animated-left {
  0% {
    opacity: 0;
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* animations written on metadata level */

.animated-up {
  animation: animated-up 0.5s ease-in-out forwards;
}

.animated-down {
  animation: animated-down 0.5s ease-in-out forwards;
}

.animated-right {
  animation: animated-right 0.5s ease-in-out forwards;
}

.animated-left {
  animation: animated-left 0.5s ease-in-out forwards;
}

.animated-none {
  animation: none;
}

