/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
*/

/* fallback font for Gellix (normal - 400) */

@font-face {
  font-family: "gellix-normal-400-fallback";
  size-adjust: 100.871%;
  src: local("Arial");
}

/* fallback font for Gellix (normal - 700) */
@font-face {
  font-family: "gellix-normal-700-fallback";
  size-adjust: 100.931%;
  src: local("Arial");
}

 :root {
  /* Netcentric colors */
  --c-black:                   #000;
  --c-dark-blue:               #2f78c4;
  --c-dark-mid-plum:           #3e40a0; /* for background footer only */
  --c-dark-plum:               #2e308e;
  --c-dark-gray:               #53565a;
  --c-dark-teal:               #06c7cc;
  --c-light-teal:              #97f5f7;
  --c-light-blue:              #92bbe6;
  --c-light-plum:              #85a0f9;
  --c-light-gray:              #d0d0ce;
  --c-mid-blue:                #6aa2dc;
  --c-mid-plum:                #7373d8;
  --c-mid-gray:                #97999b;
  --c-midnight-blue:           #000048; /* cognizant color */
  --c-mid-teal:                #26efe9;
  --c-red:                     #b81f2d;
  --c-yellow:                  #e9c71d;
  --c-white:                   #fff;

  /* social colors */
  --twitter:                  #1d9bf0;
  --facebook:                 #3b5998;
  --linked-in:                #007bb5;
  --git:                      #24292e;
  --rss:                      #f26522;
  --youtube:                  #c4302b;
  --instagram:                #8134af;

  /* highlight */
  --c-highlight-red:           var(--c-red);
  --c-highlight-yellow:        var(--c-yellow);

  /* validations */
  --c-error:                   var(--c-highlight-red);

  /* default */
  --c-text-default:            var(--c-black);
  --c-primary:                 var(--c-dark-plum);

  /* theme colors */

  /* background-colors-text */
  --bg-text-dark-plum:              var(--c-light-teal);
  --bg-text-mid-plum:               var(--c-white);
  --bg-text-light-plum:             var(--c-white);
  --bg-text-dark-blue:              var(--c-white);
  --bg-text-mid-blue:               var(--c-white);
  --bg-text-light-blue:             var(--c-dark-plum);
  --bg-text-dark-grey:              var(--c-white);
  --bg-text-light-grey:             var(--c-dark-plum);
  --bg-text-dark-teal:              var(--c-dark-plum);
  --bg-text-mid-teal:               var(--c-dark-plum);
  --bg-text-light-teal:             var(--c-dark-plum);
  --bg-text-yellow:                 var(--c-white);
  --bg-text-red:                    var(--c-white);
  --bg-text-white:                  var(--c-dark-plum);
  --bg-text-black:                  var(--c-white);

  /* colors with opacity */
  --c-white-50:                rgb(255 255 255 / 50%);
  --c-lightbox-bg:             rgb(0 0 0 / 50%);
  --c-line-color:              rgb(0 0 0 / 10%); /* for borders and lines */
  --c-shadow-color:            rgb(0 0 0 / 15%);

  /* END Netcentric colors  */

  /* colors */
  --link-color: var(--c-dark-plum);
  --link-hover-color: var(--c-mid-plum);
  --background-color: var(--c-white);
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: var(--c-black);

  /* fonts */
  --body-font-family: 'Gellix', 'gellix-normal-400-fallback', 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
  --heading-font-family: 'Gellix', 'gellix-normal-700-fallback', 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 14px;

  /* heading sizes */
  --heading-font-size-xxl: 48px;
  --heading-font-size-xl: 40px;
  --heading-font-size-l: 32px;
  --heading-font-size-m: 24px;
  --heading-font-size-s: 20px;
  --heading-font-size-xs: 18px;

  /* nav height */
  --desktop-nav-height: 130px;
  --nav-height: 72px;
}

body {
  font-size: var(--body-font-size-m);
  letter-spacing: normal;
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
}

body.appear {
  display: unset;
}

header {
  height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 400;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

/* buttons */

a.button:any-link, button {
  font-family: var(--body-font-family);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;
  padding: 0 24px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: var(--body-font-size-s);
  line-height: 2.25rem;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 0;
  height: 2.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 36px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main .section {
  padding: 32px 0;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

@media (min-width: 992px) {
  :root {
    /* font sizes */
    --heading-font-size-xxl: 60px;
    --heading-font-size-xl: 48px;
    --heading-font-size-l: 36px;
    --heading-font-size-m: 30px;
    --heading-font-size-s: 24px;
    --heading-font-size-xs: 22px;

    /* nav */
    --nav-height: var(--desktop-nav-height);
  }

  main .section > div {
    width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  main .section > div {
    width: 1176px;
  }

  /* section only visible on mobile */
  main .section.desktop-hidden {
    display: none;
  }
}

/* progressive section appearance */
main .section[data-section-status='loading'],
main .section[data-section-status='initialized'] {
  display: none;
}

/* section highlights */
main .section.light-plum {
  background-color: var(--c-light-plum);
}

main .section.mid-plum {
  background-color: var(--c-mid-plum);
}

main .section.dark-plum {
  background-color: var(--c-dark-plum);
}

main .section.light-blue {
  background-color: var(--c-light-blue);
}

main .section.mid-blue {
  background-color: var(--c-mid-blue);
}

main .section.dark-blue {
  background-color: var(--c-dark-blue);
}

main .section.light-grey {
  background-color: var(--c-light-gray);
}

main .section.mid-grey {
  background-color: var(--c-mid-gray);
}

main .section.dark-grey {
  background-color: var(--c-dark-gray);
}

main .section.light-teal {
  background-color: var(--c-light-teal);
}

main .section.mid-teal {
  background-color: var(--c-mid-teal);
}

main .section.dark-teal {
  background-color: var(--c-dark-teal);
}

.youtube-base,
.wistia-base {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.youtube-player,
.wistia-player {
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.spotify-base {
  height: 232px;
}

.spotify-player {
  border: none;
  width: 100%;
  height: 232px;
}
